<!DOCTYPE html>
<html lang='en'>
  <head>
      <% include partials/head %>
  </head>

  <body>
    <% include partials/nav %>
    <div>
      Projects.
    </div>
    <% include partials/footer %>
  </body>
</html>
