extends layout.pug

block content
	main.px-3
		h1 Hello,
		p.lead I write code in Python, Javascript, HTML, and CSS. I also work with Django, Node.js, Express, MongoDB, Jade, PyPug, and Bootstrap 5
		p.lead
			a.btn.btn-md.btn-secondary.fw-bold.border-black(href='/projects') View My projects
